<div class = "container">
            
            <div class = "row">
                    <div class = "col-lg-6 col-md-6  col-sm-12 col-xs-12  padd">
                              
                              <form  #f1 = "ngForm" (ngSubmit) = "onuser(f1)" class = "border">
                                    <div class = "form-group">
                                    <label for="username">ENTER GITHUB USERNAME           
                                    <input type="text" name="username" ngModel #user1 = "ngModel" class = "form-control" required>            
                                    </label>
                     <p class = "help-block" *ngIf = "user1.touched" style = "color : black;"> FILL THE GITHUB USERNAME </p>
                                    </div>
                     
                                
                                      <div class = "form-group">
                                    <label for="reponame">REPONAME           
                                    <input type="text" name="reponame" ngModel #repo class = "form-control"
                                    placeholder = "Search for specific repo"
                                    >            
                                    </label>
                                    </div>
                                    
                                    <div class = "form-group">
                                
                <button type = "submit" class = "btn btn-primary" [disabled] = "!user1.value" >Submit</button>
                                    </div>
                                </form>
                                
                          <div class = "padd">              
                          <router-outlet></router-outlet>      
                            </div>
                      </div>
                      
                      <div class = "col-lg-6 col-md-6  col-sm-12 col-xs-12 padd">
                          
                    
                          <div class = "panel panel-info">
                            <div class = "panel-heading">SELECTED REPOS</div>
                              <div class = "panel-body">
                                <div *ngFor = "let item of picked_repo">
                                     <div class = "panel-body">
                                       <p style = "border : 1px solid black; padding : 0.5em;">
                                         <strong>FULLNAME</strong> : {{item.fullname}} <span> <strong>NAME</strong>  : {{item.name}} </span>  
                                           <span><strong>DESCRIPTION</strong> : {{item.description}}</span>
                                       <span> <strong>FORK</strong>  : {{item.fork}} </span>
                                        <span> <strong>LANGUAGE</strong> : {{item.language}} </span>                                  
                                       </p>
                                       <hr>
                                       
                                       </div> 
                                </div>
                                </div>
                            </div>
                          
                        </div>
              </div>
            
            
            
  </div>
